html, body {
  margin: 0;
  padding: 0;
  font-size:16px;
  background-color:pink;
}

header{
  text-align: center;
  background-color: rgb(156, 129, 133);
  padding:1em;
}
h1 {
  font-size:3em;
}
img {
  max-width: 300px;
  max-height:300px;
}
h2 {
  font-size:2em;
}
p {
  font-size:1.5em;
}
li {
  font-size: 1.3em;
}
a {
  color: blue;
  text-decoration: none;
  font-size:1.3em;
}